<footer class="bg-dark text-white mt-5">
    
    <div class="row py-4">
        <div class="col-md-4">
            <h5>À propos</h5>
            <p>Lire en ligne référence et diffuse gratuitement
                les œuvres littéraires libres de droits, sous forme numérique mais également 
                sous forme audio pour certaines œuvres.</p>
        </div>
        <div class="col-md-4">
            <h5>Liens rapides</h5>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Accueil</a></li>
                <li><a href="#" class="text-white">À propos</a></li>
                <li><a href="#" class="text-white">Services</a></li>
                <li><a href="#" class="text-white">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Contactez-nous</h5>
            <p>Email : fadwa_erramiexample.com</p>
            <p>Téléphone : +212 684-669275</p>
        </div>
    </div>
    <div class="text-center py-3">
        <p>&copy; 2024 Mon Site.</p>
    </div>
</footer>